<div class="container">
	<div class="page-header col-md-12">
		<div class="col-md-10"><span class="h1">Analytics</span></div>
	</div>
</div>

<div class="container">
	<!--ROW 1 -->
	<div class="row">
		<!-- COLUMN 1 -->
	  	<div class="col-md-4">
	    	<div class="row">
	      	<div class="col-md-12">
	          <span class="h3">Consumers</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
	          <table class="table table-striped">
	            <tr>
	              <td>Active Users In the Last Day:</td>
	              <td><strong><%= @consumer_count_last_day %></strong></td>
	            </tr>
	            <tr>
	              <td>Active Users In the Last Week:</td>
	              <td><strong><%= @consumer_count_last_week %></strong></td>
	            </tr>
	            <tr>
	              <td>Active Users In the Last Month:</td>
	              <td><strong><%= @consumer_count_last_month %></strong></td>
	            </tr>
	            <tr>
	              <td>Total Users All Time:</td>
	              <td><strong><%= @consumer_count %></strong></td>
	            </tr>
	          </table>
	      	</div>
	    	</div>    	
	  	</div>
	  	<!-- END OF COLUMN 1-->
	  	<!-- COLUMN 2 -->
	  	<div class="col-md-6">
	    	<div class="row">
	      	<div class="col-md-12">
	          <span class="h3">Types of Requests</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
	          <table class="table table-striped">
	            <tr>
	              <td>Articles Load/Reload (last day):</td>
	              <td><strong><%= @articles_request_count_last_day %></strong></td>
	            </tr>
	            <tr>
	              <td>Articles Load/Reload (last week):</td>
	              <td><strong><%= @articles_request_count_last_week %></strong></td>
	            </tr>
	            <tr>
	              <td>Articles Load/Reload (last month):</td>
	              <td><strong><%= @articles_request_count_last_month %></strong></td>
	            </tr>
	          </table>
	      	</div>
	    	</div>    	
	  	</div>
	  	<!-- END OF COLUMN 2-->
	</div>
	<!--END OF ROW 1-->
	<!---ROW 2 -->
	<div class="row">
	    <!-- COLUMN 1 -->
	    <div class="col-md-6">
	      <div class="row">
	        <div class="col-md-12">
	          <span class="h3">Number of Views</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
	          <table class="table table-striped">
	            <tr>
	              <td>Articles Viewed (last day):</td>
	              <td><strong><%= @article_view_count_last_day %></strong></td>
	            </tr>
	            <tr>
	              <td>Articles Viewed (last week):</td>
	              <td><strong><%= @article_view_count_last_week %></strong></td>
	            </tr>
	            <tr>
	              <td>Articles Viewed (last month):</td>
	              <td><strong><%= @article_view_count_last_month %></strong></td>
	            </tr>
	          </table>
	        </div>
	      </div>      
	    </div>
	    <!-- END OF COLUMN 1 -->
	    <!-- COLUMN 2 -->
	    <div class="col-md-4">
	      <div class="row">
	        <div class="col-md-12">
	          <span class="h3">Searches</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
	          <table class="table table-striped">
	            <tr>
	              <td>Searches (last day):</td>
	              <td><strong><%= @search_count_last_day %></strong></td>
	            </tr>
	            <tr>
	              <td>Searches (last week):</td>
	              <td><strong><%= @search_count_last_week %></strong></td>
	            </tr>
	            <tr>
	              <td>Searches (last month):</td>
	              <td><strong><%= @search_count_last_month %></strong></td>
	            </tr>
	          </table>
	        </div>
	      </div>      
	    </div>
	    <!-- END OF COLUMN 2 -->
	</div>
	<!-- END OF ROW 2 -->
	<!--   ROW 3 -->
	<div class="row">
		<!-- COLUMN 1 -->
		<div class="col-md-5">
		  <div class="row">
		    <div class="col-md-12">
		      <span class="h3">Clicked Notifications</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
		      <table class="table table-striped">
		        <tr>
		          <td>Notifications Viewed (last day):</td>
		          <td><strong><%= @notification_click_count_last_day %></strong></td>
		        </tr>
		        <tr>
		          <td>Notifications Viewed (last week):</td>
		          <td><strong><%= @notification_click_count_last_week %></strong></td>
		        </tr>
		        <tr>
		          <td>Notification Viewed (last month):</td>
		          <td><strong><%= @notification_click_count_last_month %></strong></td>
		        </tr>
		      </table>
		    </div>
		  </div>      
		</div>
		<!-- END OF COLUMN 1 -->
		<!-- COLUMN 2 -->
		<div class="col-md-5">
		  <div class="row">
		    <div class="col-md-12">
		      <span class="h3">Social Media Shares</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
		      <table class="table table-striped">
		        <tr>
		          <td>Social Media Shares (last day):</td>
		          <td><strong><%= @social_media_share_count_last_day %></strong></td>
		        </tr>
		        <tr>
		          <td>Social Media Shares (last week):</td>
		          <td><strong><%= @social_media_share_count_last_week %></strong></td>
		        </tr>
		        <tr>
		          <td>Social Media Shares (last month):</td>
		          <td><strong><%= @social_media_share_count_last_month %></strong></td>
		        </tr>
		      </table>
		    </div>
		  </div>      
		</div>
		<!-- END OF COLUMN 2 -->
	</div>
	<!--   END OF ROW 3 -->
	<!-- ROW 4 -->
	<div class="row">
	    <div class="col-md-12">
	    	<div class="row">
	      	<div class="col-md-12">
	          <span class="h3">Recent Searches</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
	          <table class="table table-striped">
	            <% @most_recent_search_phrases.each do |search| %>
	            <tr>
	              <td><%= link_to search.search_phrase, controller: 'articles', action: 'search', format: 'json', language: search.language, q: search.search_phrase %></td>
	            </tr>
	            <% end %>
	          </table>
	      	</div>
	    	</div>    	
	    </div> 
  	</div>
  	<!-- END OF ROW 4 -->
</div><!-- END OF CONTAINER --> 