<div class="container">
	<div class="page-header col-md-12">
		<div class="col-md-10"><span class="h1">Analytics</span></div>
	</div>
</div>

<div class="container">
	<div class="col-md-4">
  	<div class="row">
    	<div class="col-md-12">
        <span class="h3">Consumers</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
        <table class="table table-striped">
          <tr>
            <td>Active Users In the Last Day:</td>
            <td><strong><%= @consumer_count_last_day %></strong></td>
          </tr>
          <tr>
            <td>Active Users In the Last Week:</td>
            <td><strong><%= @consumer_count_last_week %></strong></td>
          </tr>
          <tr>
            <td>Active Users In the Last Month:</td>
            <td><strong><%= @consumer_count_last_month %></strong></td>
          </tr>
          <tr>
            <td>Total Users All Time:</td>
            <td><strong><%= @consumer_count %></strong></td>
          </tr>
        </table>
    	</div>
  	</div>    	
	</div>
		<div class="col-md-5">
  	<div class="row">
    	<div class="col-md-12">
        <span class="h3">Types of Requests</span> <span class="h5 small">since <%= @earliest_consumer_date.strftime('%B %y, %Y %H:%M %Z') %></span>
        <table class="table table-striped">
          <tr>
            <td>Articles Load/Reload (last day):</td>
            <td><strong><%= @articles_request_count_last_day %></strong></td>
          </tr>
          <tr>
            <td>Articles Load/Reload (last week):</td>
            <td><strong><%= @articles_request_count_last_week %></strong></td>
          </tr>
          <tr>
            <td>Articles Load/Reload (last month):</td>
            <td><strong><%= @articles_request_count_last_month %></strong></td>
          </tr>
        </table>
    	</div>
  	</div>    	
	</div>

</div>