<div class="container">
	<div class="page-header col-md-12">
		<div class="col-md-10"><span class="h1">Notification Admin</span></div>
	</div>
</div>

<div class="container">
	<div class="col-md-4">
		<h3>Devices</h3>
		Total Devices: <strong><%= @devices %></strong><br>
		iOS Devices: <strong><%= @ios_devices %></strong><br>
		Android Devices: <strong><%= @android_devices %></strong><br>
		<br>
		<%= link_to 'Resubscribe all devices', notifications_resubscribe_url %><br>
	</div>
	<div class="col-md-4">
		<h3>Certificates</h3>
		<h3><small>iOS APNS</small></h3>
		Production: <strong><%= @status_check[:apns_prod] %></strong><br>
		Sandbox: <strong><%= @status_check[:apns_sandbox] %></strong><br>
		<h3><small>Android GCM</small></h3>
		GCM: <strong><%= @status_check[:gcm] %></strong><br>
		<br>
		<%= link_to 'APNS Cert Upload', notifications_cert_upload_url %><br>
		<%= link_to 'GCM Management', notifications_gcm_url %><br>
	</div>
</div>