<div class="container">
	<div class="page-header col-md-12">
			<div class="col-md-10"><span class="h1">APNS Certs</span></div>
			<div class="col-md-2 vertical-center"><%= link_to "All Notifications", "/notifications" %></div>
	</div>
</div>

<div class="container">
	<div class="col-md-8">
		<%= form_tag({action: :process_cert}, multipart: true) do %>

			<div class="form-group">
		  		<%= label_tag "APNS Cert" %>
		  		<%= file_field_tag 'cert', class: "form-control" %>
		  </div>
 			<div class="form-group">
		  		<%= label_tag "APNS Key" %>
		  		<%= file_field_tag 'key', class: "form-control" %>
		  </div>

			<%= submit_tag "Save", class:"btn btn-default" %>
		<% end %>	
	</div>
</div>
