<div class="container">
  <div class="page-header col-md-12">
    <div class="col-md-10">
      <span class="h1">GCM/FCM</span>
    </div>
    <div class="col-md-2 vertical-center">
      <%= link_to "All Notifications", "/notifications" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8">
    <%= form_tag({action: :process_fcm}) do %>
    <div class="form-group">
      <%= label_tag "Project ID" %>  <a href="https://console.firebase.google.com"><span class="h3 small">This is a unique identifier for your Firebase project and looks similar to "push-test-f8ea2"</span></a>
      <%= text_field_tag 'project_id', @gcm_project_id, class: "form-control" %><br>
    </div>
    <!-- <div class="form-group">
      <%= label_tag "Legacy GCM API Key" %> <a href="https://console.firebase.google.com"><span class="h3 small">https://console.firebase.google.com/project labeled "Legacy server key" under the "Cloud Messaging" tab.</span></a>
      <%= text_field_tag 'gcm_api_key', @gcm_api_key, class: "form-control" %>
    </div> -->
    <div class="form-group">
      <%= label_tag "Production FCM API Key" %> <a href="https://console.cloud.google.com/apis/credentials"><span class="h3 small">hthttps://console.firebase.google.com/project</span></a>
      <%= text_field_tag 'fcm_api_key', @fcm_api_key_production, class: "form-control" %>
    </div>
    <%= submit_tag "Save", class:"btn btn-default" %>
    <% end %>
  </div>
</div>
